<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>YouTube</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AllVideos</servlet-name>
		<servlet-class>youtube.AllVideos</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyVideos</servlet-name>
		<servlet-class>youtube.MyVideoCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>youtube.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateRating</servlet-name>
		<servlet-class>youtube.UpdateRating</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteVideo</servlet-name>
		<servlet-class>youtube.DeleteVideo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>youtube.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateNewUser</servlet-name>
		<servlet-class>youtube.CreateNewUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadVideoServlet</servlet-name>
		<servlet-class>youtube.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllVideos</servlet-name>
		<url-pattern>/allVideos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyVideos</servlet-name>
		<url-pattern>/myVideoCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRating</servlet-name>
		<url-pattern>/updateRating</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVideo</servlet-name>
		<url-pattern>/deleteVideo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewUser</servlet-name>
		<url-pattern>/createNewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadVideoServlet</servlet-name>
		<url-pattern>/uploadVideo</url-pattern>
	</servlet-mapping>
</web-app>